* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.2fr;
    grid-template-areas: "header header header header" "main main main main" "main main main main";
    grid-gap: 0.2rem;
}

#header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main {
    grid-area: main;
    padding: 10px;
}

#header a {
    text-decoration: none;
}

.logo {
    display: flex;
    height: 100%;
}

.logo>section {
    height: 100%;
    display: flex;
    align-items: center;
}

.profile {
    height: 100%;
    display: flex;
    align-items: center;
}
